# All files not owned by other teams must be reviewed by the core team
*                                               @ninjajs/core 
package.json                                    @ninjajs/engineering
yarn.lock                                       @ninjajs/engineering
/.changeset/                                    @ninjajs/engineering
/packages/                                      @ninjajs/engineering
/integration-tests/                             @ninjajs/engineering
/docs-util/                                     @ninjajs/docs
/www/                                           @ninjajs/docs
/packages/admin                                 @ninjajs/ui
/packages/admin-ui                              @ninjajs/ui
/packages/design-system/                        @ninjajs/ui
